.station {
  display: inline-block;
  float: right;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  width: 61px;
  height: 180px;
}
.contained {
  display: inline-block;
}
.centerdiv{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*height: 50%;*/
  text-align: center;
}
.hrRD {
  width: 465px;
  height: 8px;
  border-color: red;
}
.timetableRD {
  border: 8px solid red;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}

.hrRD {
  width: 465px;
  height: 5px;
  border-color: red;
}
.timetableRD {
  border: 5px solid red;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}
.hrYL {
  width: 465px;
  height: 5px;
  border-color: gold;
}
.timetableYL {
  border: 5px solid gold;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}
.hrGR {
  width: 465px;
  height: 5px;
  border-color: green;
}
.timetableGR {
  border: 5px solid green;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}
.hrSV {
  width: 465px;
  height: 5px;
  border-color: silver;
}
.timetableSV {
  border: 5px solid silver;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}
.hrOR {
  width: 465px;
  height: 5px;
  border-color: orange;
}
.timetableOR {
  border: 5px solid orange;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}
.hrBL {
  width: 465px;
  height: 5px;
  border-color: blue;
}
.timetableBL {
  border: 5px solid blue;
  width: 500px;
  height: 220px;
  padding-left: 10px;
}

.RD {
  border: 2px solid red;
}
.SV {
  border: 2px solid grey;
}
.YL {
  border: 2px solid gold;
}
.GR {
  border: 2px solid green;
}
.BL {
  border: 2px solid blue;
}
.OR {
  border: 2px solid orange;
}


.stationinfo1 {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.stationinfo2 {
  top: 100;
  width: 100%;
}

.centertext {
  text-align: center;
}

.stationName {
  font-size: 80%;
  display: inline-block;
  margin-top: 45px;
  margin-bottom:auto;
  width:100%;
  /*background: red;*/
}

.trainTop {
  width: 100%;
  height: 75px;
  margin-bottom: 3px;
  border: 2px solid black;
}
.trainBottom {
  width: 100%;
  height: 75px;
  border: 2px solid black;
}
