<div class="container">
  <div class="timetable scroll" ng-show="showForm">
    <div><h4>Arriving at {{LineShowViewModel.station.name}}:</h4>
      <div data-ng-repeat="stop in LineShowViewModel.station.trainsIn">
        ←Destination: {{stop.dest}} | ETA: {{stop.status}} | Cars: {{stop.numCars}}
      </div>
    </div>
    <hr ng-show="LineShowViewModel.station.trainsOut.length>0 && LineShowViewModel.station.trainsIn.length>0" class="hr">
    <div>
      <div data-ng-repeat="stop in LineShowViewModel.station.trainsOut">
        →Destination: {{stop.dest}} | ETA: {{stop.status}} | Cars: {{stop.numCars}}
      </div>
    </div>
  </div>
  <div class="delayz scroll">
    <h4>Information ({{LineShowViewModel.line.name}} Line):</h4>
    Track Length: {{LineShowViewModel.trackInfo.totalDistance}} feet ({{LineShowViewModel.trackInfo.miles}} miles) ({{LineShowViewModel.trackInfo.numStations}} stops)<br>
    <div ng-show="LineShowViewModel.delays[0]"><ul data-ng-repeat="incident in LineShowViewModel.delays"><li class="wordwrap delayli">{{incident.message}}</li></ul></div>
  </div>

  <div ng-show="showForm"class="info">
    <h4>
    {{LineShowViewModel.station.name}} → {{LineShowViewModel.station2.name}}</h4><br><br>
    Miles: {{LineShowViewModel.distance}}<br>
    Track Time: (minutes): {{LineShowViewModel.mins}}
  </div>
</div>
<h1 class="centertext">
  →To {{LineShowViewModel.line.stations[LineShowViewModel.line.stations.length-1].name}}→
</h1>
<div class="trackborder">
  <div class="centerdiv trackz">
    <rail data-str="top"data-times="LineShowViewModel.timesOut" data-stations="LineShowViewModel.stations" data-vm="LineShowViewModel"></rail>
  </div>
</div>
<div ng-click="showForm=true"class="centerdiv">
  <line data-index1="LineShowViewModel.index1" data-index2="LineShowViewModel.index2" data-line="LineShowViewModel.line" data-vm="LineShowViewModel"></station>
</div>
<div class="trackborder">
  <div class="centerdiv trackz">
    <!-- <rail data-str="bot" data-times="LineShowViewModel.timesIn" data-stations="LineShowViewModel.stations" data-vm="LineShowViewModel"></rail> -->
  </div>
</div>
<h1 class="centertext">
  ←To {{LineShowViewModel.line.stations[0].name}}←
</h1>
